body {
  background-color: #000;
  color: #fafafa;
}
.App {
  text-align: center;
}
.primary-container {
  background-color: #121212;
}
.accent-element {
  background-color: #bc96fe;
  color: #000;
}
.accent-color {
  color: #bc96fe;
}
